/* Main content */

body {
    background-color: #F8F8F8;
    padding-left: 18%;
}

.main-container {
    padding: 2% 3%;
    width: 100%;
}

/* Header */

.header {
    height: 98px;
    width: 100%;
    box-shadow: 0 2px 6px #aaa;
}

.page-title {
    font-size: 2.0rem;
    line-height: 98px;
    padding: 0 5%;
    color: black;
}

i.icon-dark {
    color: black;
}

/* Slide out properties */

#slide-out {
    width: 18%;
    box-shadow: 2px 0 24px #ddd;
}

ul#slide-out a {
    height: 49px;
    line-height: 49px;
}

ul#slide-out a:hover {
    background-color: #00BCD4;
    color: #FFF;
    transition: 0.3s;
}

li.active a {
    background-color: #00BCD4;
    color: #FFF;
}

/* Button properties */

.waves-effect.waves-grey .waves-ripple {
    background-color: #EEEEEE;
}

.btn-flat {
    color: #555;
}

.btn-flat:hover {
    background-color: #FFF;
}

/* Card properties */

.card {
    box-shadow: 0 4px 10px #aaa;
}

.card .card-content {
    padding: 0;
}

/* Collection and column properties */

.collection {
    border: 0;
}

.collection .collection-item {
    /* This is necessary because waves effect overrides width */
    width: 50%;
    float: left;
    padding: 15px 20px;

    /* This defines the divider properties. Line below keeps [my] default value. */
    /* border-bottom: 1px solid #EEE; */
    border-bottom: 0;
}