body {
    background-color: #F8F8F8;
    padding-left: 18%;
}

.header {
    height: 98px;
    width: 100%;
    box-shadow: 0 2px 6px #aaa;
}

.main-container {
    padding: 2% 3%;
    width: 100%;
}

.page-title {
    font-size: 2.0rem;
    line-height: 98px;
    padding: 0 5%;
    color: black;
}

.search {

}

i.icon-dark {
    color: black;
}

/* Slide out properties */

#slide-out {
    width: 18%;
    box-shadow: 2px 0 24px #ddd;
}

ul#slide-out a {
    height: 49px;
    line-height: 49px;
}

ul#slide-out a:hover {
    background-color: #00BCD4;
    color: #FFF;
    transition: 0.3s;
}

li.active a {
    background-color: #00BCD4;
    color: #FFF;
}

/* Card properties */

.card {
    box-shadow: 0 4px 10px #aaa;
}

/* Card columns */

#left-column {
    width: 50%;
    float: left;
}

#right-column {
    width: 50%;
    float: left;
}